apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: frontend
  template:
    metadata:
      labels:
        app.kubernetes.io/name: frontend
    spec:
      containers:
      - name: frontend
        image: yny.ocir.io/<OBJECT_STORAGE_NAMESPACE>/frontend:latest
        ports:
        - containerPort: 80
        env:
        - name: BACKEND_HOST
          value: "backend-svc.backend.svc.cluster.local:8080"
