apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: backend
  template:
    metadata:
      labels:
        app.kubernetes.io/name: backend
    spec:
      containers:
      - name: backend
        image: yny.ocir.io/<OBJECT_STORAGE_NAMESPACE>/backend:latest
        ports:
        - containerPort: 8080
        env:
        - name: DATABASE_HOST
          value: "database-svc.database.svc.cluster.local:3306"
