apiVersion: v1
kind: Service
metadata:
  name: database-svc
  namespace: database
spec:
  type: ClusterIP
  ports:
  - port: 3306
    targetPort: 3306
  selector:
    app.kubernetes.io/name: database
